* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#input {
  border: 2px solid rebeccapurple;
  border-radius: 15px;
  padding: 15px 10px;
  width: 600px;
  height: 50px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.container {
  padding-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.addition {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 200px;
  border: 3px solid plum;
  padding: 20px 30px;
  width: 750px;
  height: 50px;
  border-radius: 15px;
}

.addAndDelete {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

#AddBtn {
  border: 2px solid rebeccapurple;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  padding: 15px 40px;
  border-radius: 15px;
  background: transparent;
  cursor: pointer;
  transition: all linear 0.3s;
}

#AddBtn:hover {
  background: rebeccapurple;
  color: white;
}

.hide {
  color: gray;
}

#forAddition {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
